.TamanhoCorpoSobre {
  width: 100%;
  padding: 2% 10%;
  margin-top: -8%;
  margin-bottom: 8%;
}

.sobre {
  display: flex;
  justify-content: space-between;
  color: #d6692b;
  font-size: 13.5px;
  align-items: center;
}
.sobre-titulo {
  text-align: center;
  color: #d6692b;
  margin-bottom: 5%;
}
.sobre-titulo h2 {
  font-weight: bolder;
}
.sobre p {
  color: #d6692b;
  font-size: 16px;
  width: 85%;
}
.h2-azul {
  color: #352166;
}
.confira,
.acompanhe {
  font-weight: bolder;
}
.confira {
  font-size: 25px;
}
.acompanhe {
  font-size: 18px;
}
.sobre h4 {
  color: #352166;
  margin-top: 5%;
}
.texto-sobre {
  margin-right: 20px;
}
.texto-sobre img {
  width: 40px;
  margin-right: 5px;
}
.texto-sobre a {
  color: #d6692b;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-flow: row;
  margin-right: 10%;
}
.redes {
  display: flex;
  align-items: center;
  flex-flow: row;
}

.video {
  height: auto;
  width: auto;
}
.video-content {
  width: 450px !important;
}

@media screen and (max-width: 950px) {
  .TamanhoCorpoSobre {
    margin-top: -15%;
  }
  .sobre {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  .sobre-titulo {
    margin-bottom: 0;
  }
  .sobre-titulo h2 {
    font-size: 20px;
  }
  .confira,
  .acompanhe {
    font-size: 16px;
    font-weight: bolder;
  }
  .video-content {
    width: 400px !important;
    margin-top: 5%;
  }
  .texto-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .video-content {
    width: 300px !important;
  }
  .acompanhe {
    font-size: 14px;
    font-weight: bold;
  }
  .redes {
    flex-direction: column;
  }
  .redes a {
    margin-bottom: 10%;
  }
}
